@import "tailwindcss";

@theme {
  --font-display: "Montserrat", sans-serif;
}

@utility animatedButton {
  animation-duration: 10000ms;
}

.ql-container {
  border: none !important;
}
.ql-toolbar {
  border: none !important;
}
.ql-editor {
  border: none !important;
}
